@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --blue1: #3960fc;
    --blue2: #34abf5;
    --blue3: #2447d1;
    --detalhe: #3BA3FA5C;
}

body,
html {
    min-height: 100vh;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
    width: 4px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue1);
}

#home {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(45deg, var(--blue1), var(--blue2));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.452);
    animation: background-animation 9s ease-in-out infinite;
    background-size: 200% 200%;
}


@keyframes background-animation{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}

.nav-Home {
    width: 100vw;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transition: .3s ease;
}

.nav-Home a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease;
}

.nav-Home a:hover {
    font-size: 1.1rem;
}

#home .content-Home {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 100px;
    text-align: center;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.267);
    cursor: default;
}

#home .content-Home .meiota .texto-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

#home .content-Home .meiota .texto-home img {
    height: 50px;

}

#home .content-Home img {
    height: 400px;
}

#home .content-Home h1 {
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.171);
    text-transform: uppercase;
}

#home .content-Home .botao {
    padding: 20px;
    width: 100%;
}

#home .content-Home .botao a {
    color: #5e5d5d;
    text-decoration: none;
    background-color: whitesmoke;
    padding: 10px 40px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
    cursor: default;
    transition: .3s ease-in-out;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.158);
}

#home .content-Home .botao a:hover {
    filter: brightness(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.253);
    color: #2B54FF;
}

.home-inferior {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.home-inferior i {
    color: white;
    animation: arrow-animation .3s infinite alternate;
}

@keyframes arrow-animation {
    from {
        padding-bottom: 10px;
        opacity: 1;
    }

    to {
        padding-bottom: 30px;
        opacity: .2;
    }
}

#frase {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#frase h2 {
    text-transform: uppercase;
    color: #5e5d5d;
}

@keyframes bola-animation{
    from{
        transform: translateX(0px);
    }

    to{
        transform: translateX(30px);
    }
}

#frase .bola{
    position: absolute;
    background-image: linear-gradient(180deg, #3EB3F8 0%, #3A8BFE 100%);
    filter: drop-shadow(0px 4px 7.6px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    animation: bola-animation 5s infinite alternate;
}

#frase .bola.primeira{
    height: 80px;
    width: 80px;
    top: 20%;
    left: 15%;
    animation-duration: 6s;
}

#frase .bola.segunda{
    height: 60px;
    width: 60px;
    top: 70%;
    left: 30%;
    animation-duration: 7s;
}

#frase .bola.terceira{
    height: 55px;
    width: 55px;
    top: 15%;
    left: 50%;
}

#frase .bola.quarta{
    width: 40px;
    height: 40px;
    bottom: 10%;
    right: 10%;
}

#frase .bola.quinta{
    height: 30px;
    width: 30px;
    top: 30%;
    right: 10%;
    animation-duration: 9s;
}

#frase .bola.sexta{
    height: 90px;
    width: 90px;
    bottom: 5%;
    right: 40%;
}

.section {
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.section .content_curriculos{
    max-width: 400px;
    display: grid;
    gap: 25px;
    color: #474646;
}
.section .content_curriculos h2{
    text-transform: uppercase;
}
.section .img_area{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

}
.section .img_area .effect-img{
    position: absolute;
    height: 300px;
    width: 460px;
    background: rgba(59, 163, 250, 0.36);;
    border-radius: 20px;
    bottom: 100px;
    left: -50px;
    z-index: -99;
}

.section .content_curriculos a{
    padding: 15px;
    text-transform: uppercase;
    color: white;
    background-image: linear-gradient(45deg, var(--blue1), var(--blue2));
    max-width: 245px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.177);
    transition: .3s ease;
}
.section .content_curriculos a:hover{
    filter: brightness(1.1);
    transition: .3s ease;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.211);
}

#experiencias{
    height: 100vh;
}